{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
    <h1>Cart</h1>

    <br/>

    {% if quantity is not empty %}
        <h4 data-totalPrice>Total price: <span>{{ totalPrice|price }}</span></h4>
        <h5 class="mt-1" data-quantity>Quantity: <span>{{ quantity }}</span></h5>
    {% endif %}

    {% if products is not empty %}
        <div class="cards">
            {% for product in products %}
                {% include 'incs/productCart.html.twig' %}
            {% endfor %}
        </div>
    {% else %}
        <br/>
        <p>The list of products in cart is empty</p>
    {% endif %}

    {% if app.session.get('cart') != null and app.session.get('cart').quantity > 0 %}
        <div class="order">
            <a class="btn btn-primary" href="{{ path('order_create') }}">Make an order</a>
        </div>
    {% endif %}
{% endblock %}
