{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
    <h1>Cart list:</h1>

    <br/>

    {% if quantity is not empty %}
        <h3>Total price: {{ totalPrice|price }}</h3>
        <h4>Quantity: {{ quantity }}</h4>
    {% endif %}

    {% if products is not empty %}
        <div class="cards">
            {% for product in products %}
                {% include 'incs/productCart.html.twig' %}
            {% endfor %}
        </div>
    {% else %}
        <br/>
        <p>The list of products in cart is empty</p>
    {% endif %}
{% endblock %}
