<div class="sidebar">
    <h1>Category:</h1>

    <div class="categories">
        {% for category in categories %}
            <a href="{{ path('product_list', {'category': category.slug}) }}">
                {{ category.name }}
                |
                {% if isUser %}
                    {{ category.productCountPublished }}
                {% else %}
                    {{ category.productCount }}
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>
