{% extends "base.html.twig" %}
{% form_theme form 'themes/form_custom.html.twig' %}

{% block title %}Product import{% endblock %}

{% block content %}
    <h1>Product import form</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}

    {% if imports %}
        <h2>Products import list:</h2>

        <div class="accordion mt-3" id="accordionExample">
            {% set flag = true %}
            {% for import in imports %}
                {% include 'incs/accordion.html.twig' with {'flag': flag} %}

                {% set flag = false %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
