{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block content %}
    <h1>Orders list:</h1>

    {% if orders %}
        <div class="cards">
            {% for order in orders %}
                {% include 'incs/orderCard.html.twig' %}
            {% endfor %}
        </div>
    {% else %}
        <p>The list of orders is empty</p>
    {% endif %}
{% endblock %}
