{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block content %}
    <div id="checkout"></div>
{% endblock %}

{% block scripts %}
    {{ parent('scripts') }}
    <script src="{{ asset('script/payment.js') }}" defer></script>
{% endblock %}
